{% extends "app/layout.html" %}
{% load static %}

{% block body %}

    <div id="title-div">
        <h2 id="new-recipe-title">Add New Recipe</h2>
        <img src="https://static.thenounproject.com/png/568541-200.png" class="help-icon" id="new-recipe-help">
        <p class="help-box" id="help-box1">Ingredients, Cooking Instructions, and Additional Notes can be added in list format using ';' as the delimiter.  Ex) Note1; Note2; Notes3</p>
    </div>

    <div class="outer">
        <p class="error-message"></p>
        <form method="post" id="new_recipe-form">
            {% csrf_token %}
            <div class="new_recipe-entry">
                <p class="container">
                    <span class="label">Title: </span>
                    <span class="new_recipe-info" id="title_entry">
                        <input type="text" name="title" maxlength="50" required id="id_title" class="input_width">
                    </span>
                </p>
                <p class="container">
                    <span class="label">Ingredients: </span>
                    <textarea class="new_recipe-info" id="ingredients_entry" required name="ingredients"></textarea>
                </p>
                <p id="cooking_container" class="container">
                    <span id="instructions_label" class="label">Cooking Instructions: </span>
                    <textarea class="new_recipe-info" id="instructions_entry" name="instructions"></textarea>
                </p>
                <p class="container">
                    <span class="label">Cuisine: </span>
                    <span class="new_recipe-info" id="category_entry">
                        <input type="text" name="category" maxlength="50" required id="id_category" class="input_width" autocomplete="off">
                        <div id="suggestions-id_category" class="suggestions"></div>
                    </span>
                </p>
                <p class="container">
                    <span class="label">Meal: </span>
                    <span class="new_recipe-info" id="meal_entry">
                        <input type="text" name="meal" maxlength="50" required id="id_meal" class="input_width">
                        <div id="suggestions-id_meal" class="suggestions"></div>
                    </span>
                </p>
                <p class="container">
                    <span class="label">Add Image: </span>
                    <span class="new_recipe-info" id="image_entry">
                        <input type="file" name="image" accept="image/*" id="id_image" class="input_width">
                    </span>
                </p>
                <p class="container">
                    <span class="label">Cooktime: </span>
                    <span class="new_recipe-info" id="cooktime_entry">
                        <input type="text" name="cooktime" maxlength="50" required id="id_cooktime" class="input_width">
                    </span>
                </p>
                <p class="container">
                    <span class="label">Additional Notes: </span>
                    <textarea class="new_recipe-info" id="note_entry"></textarea>
                </p>
                <button class="btn btn-primary" id="new_recipe-button" type="submit">Add Recipe</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'create_recipe.js' %}"></script>
{% endblock %}